.no-account{
    display: flex;
    font-weight: 700;
    font-size: 15px;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--navyBlue);
}

.hide{
    display: none !important;
}

@media only screen and (max-width:566px) {
    .no-account{
        font-size: 12px;
    }
    .no-account a{
        font-size: 12px;
    }
}