/* .login-form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 97%;
    margin: 0 auto;
    border-radius: 19px;
    /* align-self: center; */
    /* border: var(--navyBlue) 1px solid ; */
    /* background-color: white; */
    /* box-shadow: 5px 0px 15px 3px #dde1ec; */
/* } */ 