.login-body{
    width: 85%;
}


.login-body input:hover{
    border: 1px solid var(--babyBlue);
}

.login-body label{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.hide-content{
    display: none !important;
}
@media only screen and (min-width:768px){    
    .login-body{
        width: 80%;
    }
     }

@media only screen and (max-width:566px) {    
    .login-body label{
        font-size: 12px;
    }

    .login-body input[type="submit"]{
        font-size: 12px;
    }
     }